# Set global user variables


# CONF_VERSION is increased each time build/conf/ changes incompatibly
CONF_VERSION = "1"

# Set a machine to target
# conf/machine/<MACHINE>.conf
MACHINE = "raspberrypi3"

# Set a distribution to target
# conf/distro/<DISTRO>.conf
DISTRO = "custom-controls"

PATCHRESOLVE = "noop"

BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"

#SDKMACHINE = "x86_64-mingw32"

#INHERIT+= "toaster"

#INHERIT += "archiver"
#ARCHIVER_MODE[src] = "configured"
#COPYLEFT_LICENSE_EXCLUDE = 'CLOSED'
#COPYLEFT_RECIPE_TYPES = 'target'
